html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#header, #body, .footNav {
	padding-left: 150px;
	padding-right: 150px;
}

#header, #footer, .overlay {
	height: 500px;
	width: 100%;
}

#header {
	/*background: skyblue;*/
	text-align: center;	
	background-image: url(assets/OceanBanner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
		
}

#header:after, #col2 div:first-child:after, .surferPic:after, .footGal1:after, .footGal2:after, .footGal3:after, .footGal4:after  {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0,80,170,0.7);
	z-index: -1;
	transition: background-color 2s;
}

#col2 {
	position:relative;
	z-index:-3;
}

#col2 div:first-child {
	width:50px;
	height:50px;
	position:relative;
}

#col2 div:first-child:after {
	border-radius:50%;
}

.surferProfilePic img:first-child {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	size: 100px;
	z-index:-2;
	position:relative;
}

.surferPic {
	height: 243px;
	width: 100%;
	background-size: 444px 300px;
	background-repeat: no-repeat;
	background-image: url(assets/paddleBoarder.jpg);
	background-position-x: -160px;
	background-position-y: -27px;
	position: relative;
	z-index:-2;
}

.nav, .title, h2, .footGal {
	color: #083451
}

.title {
	margin-top: 157px;

}

h1 {
	color: white;
	font-size: 80px;
	margin: 0;
}

h2 {
	font-size: 50px;
	margin: 20px;
}

li {
	list-style: none;
	margin-right: 10px;
	margin-top: 15px;
}

ul li:first-child, ul li:nth-child(2) {
	float: left;
}

ul li:nth-child(3), ul li:nth-child(4) {
	float: right;
}

.footNavLinks {
	float: right;
	display: inline-block;
}

#body {
	height: 787px;
}

#col1 {
	width: 70%;
	/*background: red;*/
	float: left;
}

#col2 {
	width: 30%;
	background: blue;
	float: left;
}

#footer {
	border-top: 1px solid #E4EAEC;
	clear: both;
	/*background: green;*/
	position: relative;
	z-index: -3;
}

.footGal {
	height: 325px;
	width: 25%;
	float: left;
	background-size: 480px 329px;
	background-repeat: no-repeat;
}

.footGal1 {
	background-image: url(assets/slaterSurferPic.jpg);
	background-position-x: -152px;
	position: relative;
	z-index: -2;
}

.footGal2 {
	background-image: url(assets/craftbeer.jpg);
	background-position-x: -152px;
	background-size: 480px 329px;
	position: relative;
	z-index: -2;
}

.footGal3 {
	background-image: url(assets/zack.jpg);
	background-position-x: -184px;
	background-position-y: -30px;
	background-size: 633px 358px;
	position: relative;
	z-index: -2;
}

.footGal4 {
	background-image: url(assets/cocktails.jpg);
	background-position-x: -152px;
	background-size: 480px 329px;
	position: relative;
	z-index: -2;
}

.footGal1:hover:after {
	background-color: transparent;	
		
}

h1, li, h2, h3, h4, h5, .footGal {
	text-transform: uppercase;	
}

#header, #footer h2 {
	text-align: center;
}


